<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_icon_22.png</string>
				<string>document_icon_44.png</string>
				<string>document_icon_64.png</string>
				<string>document_icon_320.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HapticMap Itinerary</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ch.elca.hapticmap.hcit</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_icon_22.png</string>
				<string>document_icon_44.png</string>
				<string>document_icon_64.png</string>
				<string>document_icon_320.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HapticMap Map</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ch.elca.hapticmap.hcmp</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HapticMap Itinerary</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>document_icon_22.png</string>
				<string>document_icon_44.png</string>
				<string>document_icon_64.png</string>
				<string>document_icon_320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>ch.elca.hapticmap.hcit</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hcit</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/hapticmap</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HapticMap Map</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>document_icon_22.png</string>
				<string>document_icon_44.png</string>
				<string>document_icon_64.png</string>
				<string>document_icon_320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>ch.elca.hapticmap.hcmp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hcmp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/hapticmap</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
